<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title> Farmacia CUXIBAMBA </title>
    <style>
        table {
            width: 100%;
            border-collapse: collapse;
            margin-bottom: 20px;
        }
        table, th, td {
            border: 1px solid black;
        }
        th, td {
            padding: 10px;
            text-align: left;
        }
        th {
            background-color: #dab9f1;
        }
    </style>
</head>
<body>
    <h1>Farmacia CUXIBAMBA</h1>
    <li><a href="/">Registrarse</a></li>
    <form method="post">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit">Registrarse</button>
    </form>

    <h2>Farmacia</h2>
    <table>
        <tr>
            <th>Informacion</th>
            <th>Descripción</th>
        </tr>
        <tr>
            <td>Nombre</td>
            <td>Farmacia Cuxibamba</td>
        </tr>
        <tr>
            <td>Direccion</td>
            <td>2QRM+V4P, Av. 8 de diciembre, Loja</td>
        </tr>
    </table>

    <h2>Sucursal</h2>
    <table>
        <tr>
            <th>Informacion</th>
            <th>Descripción</th>
        </tr>
        <tr>
            <td>Nombre</td>
            <td>Cuxibamba sede1</td>
        </tr>
        <tr>
            <td>Direccion</td>
            <td>Boulevard de los Sueños, 789</td>
        </tr>
        <tr>
            <td>Farmacia</td>
            <td>Se relaciona con la farmacia Cuxibanba Matriz</td>
        </tr>
    </table>
    <table>
        <tr>
            <th>Informacion</th>
            <th>Descripción</th>
        </tr>
        <tr>
            <td>Nombre</td>
            <td>Cuxibamba sede2</td>
        </tr>
        <tr>
            <td>Direccion</td>
            <td>Carrera 21, N45-67</td>
        </tr>
        <tr>
            <td>Farmacia</td>
            <td>Se relaciona con la farmacia Cuxibanba Matriz</td>
        </tr>
    </table>

    <h2>Medicamento</h2>
    <table>
        <tr>
            <th>Informacion</th>
             <th>Descripción</th>
             <th>Adicional</th>
        </tr>
        <tr>
            <td>idMedicamento</td>
            <td> ID: 101</td>

        </tr>
        <tr>
            <td>Nombre</td>
            <td>Paracetamol 1gm</td>
        </tr>
        <tr>
            <td>Precio</td>
            <td>$0,25</td>
            <td>El precio por unidad es de $0.25, y la caja completa tiene un precio de $16.00.</td>

        </tr>
        <tr>
            <td>Descripcion</td>
            <td>Tomar cada 8 horas </td>
        </tr>
    </table>
     <table>
        <tr>
            <th>Informacion</th>
             <th>Descripción</th>
             <th>Adicional</th>
        </tr>
        <tr>
            <td>idMedicamento</td>
            <td>ID: 102</td>
        </tr>
        <tr>
            <td>Nombre</td>
            <td>Ibuprofeno 600gm</td>
        </tr>
        <tr>
            <td>Precio</td>
            <td>$0.16 </td>
            <td>El precio por unidad es de $0.16, y la caja completa tiene un precio de $8.00.</td>
        </tr>
        <tr>
            <td>Descripcion</td>
            <td>Tomar después del desayuno</td>
        </tr>
    </table>


    <h2>Inventario</h2>
    <table>
        <tr>
            <th>Informacion</th>
            <th>Descripción</th>
        </tr>
        <tr>
            <td>Sucursal</td>
            <td>Cuxibamba sede1</td>
        </tr>
        <tr>
            <td>Medicamento</td>
            <td>Ibuprofeno 600gm</td>
        </tr>
        <tr>
            <td>Stock</td>
            <td>En stock se encuentran 15</td>
        </tr>
    </table>
     <table>
        <tr>
            <th>Informacion</th>
            <th>Descripción</th>
        </tr>
        <tr>
            <td>Sucursal</td>
            <td>Cuxibamba sede2</td>
        </tr>
        <tr>
            <td>Medicamento</td>
            <td>Paracetamol 1gm</td>
        </tr>
        <tr>
            <td>Stock</td>
            <td>En stock se encuentran 10</td>
        </tr>
    </table>

    <h2>Cliente</h2>
    <table>
        <tr>
            <th>Informacion</th>
            <th>Descripción</th>
        </tr>
        <tr>
            <td>idCliente</td>
            <td>1109876543</td>
        </tr>
        <tr>
            <td>Nombre</td>
            <td>Lucia Martinez</td>
        </tr>
        <tr>
            <td>Direccion</td>
            <td>Avenida Libertad, 45A</td>
        </tr>
        <tr>
            <td>Telefono</td>
            <td>0987654321</td>
        </tr>
        <tr>
            <td>MetodoPago</td>
            <td>Efectivo</td>
        </tr>
    </table>
     <table>
        <tr>
            <th>Informacion</th>
            <th>Descripción</th>
        </tr>
        <tr>
            <td>idCliente</td>
            <td>112236784</td>
        </tr>
        <tr>
            <td>Nombre</td>
            <td>Ana Pananmito</td>
        </tr>
        <tr>
            <td>Direccion</td>
            <td>Calle del Sol, 123</td>
        </tr>
        <tr>
            <td>Telefono</td>
            <td>0912335678</td>
        </tr>
        <tr>
            <td>MetodoPago</td>
            <td>Transferencia</td>
        </tr>
    </table>

    <h2>Pedido</h2>
    <table>
        <tr>
            <th>Informacion</th>
            <th>Descripción</th>
        </tr>
        <tr>
            <td>idPedido</td>
            <td>ID: 105</td>
        </tr>
        <tr>
            <td>Fecha</td>
            <td>03/02/2025</td>
        </tr>
        <tr>
            <td>Cliente</td>
            <td>Lucia Martinez</td>
        </tr>
        <tr>
            <td>Estado</td>
            <td>Pendiente</td>
        </tr>
        <tr>
            <td>SucursalDestino</td>
            <td>Cuxibamba Sede2</td>
        </tr>
        <tr>
            <td>Medicamentos</td>
            <td>Paracetamol 1gm</td>
        </tr>
    </table>
    <table>
        <tr>
            <th>Informacion</th>
            <th>Descripción</th>
        </tr>
        <tr>
            <td>idPedido</td>
            <td>ID:106</td>
        </tr>
        <tr>
            <td>Fecha</td>
            <td>03/02/2025</td>
        </tr>
        <tr>
            <td>Cliente</td>
            <td>Ana Panamito</td>
        </tr>
        <tr>
            <td>Estado</td>
            <td>Entrgado</td>
        </tr>
        <tr>
            <td>SucursalDestino</td>
            <td>Cuxibamba Sede1</td>
        </tr>
        <tr>
            <td>Medicamentos</td>
            <td>Ibuprofeno 600gm</td>
        </tr>
    </table>

    <h2>PedidoMedicamento</h2>
    <table>
        <tr>
            <th>Informacion</th>
            <th>Descripción</th>
        </tr>
        <tr>
            <td>Pedido</td>
            <td>Pedido 1 Lucia Martínez</td>
        </tr>
        <tr>
            <td>Medicamento</td>
            <td>Paracetamol 1gm</td>
        </tr>
        <tr>
            <td>Cantidad</td>
            <td>5 unidades</td>
        </tr>
    </table>
    <table>
        <tr>
            <th>Informacion</th>
            <th>Descripción</th>
        </tr>
        <tr>
            <td>Pedido</td>
            <td>Pedido 2 Ana Panamito</td>
        </tr>
        <tr>
            <td>Medicamento</td>
            <td>Ibuprofeno 600gm</td>
        </tr>
        <tr>
            <td>Cantidad</td>
            <td>10 unidades</td>
        </tr>
    </table>

    <h2>Usuario</h2>
    <table>
        <tr>
            <th>Informacion </th>
            <th>Descripción</th>
        </tr>
        <tr>
            <td>idUsuario</td>
            <td>ID:202</td>
        </tr>
        <tr>
            <td>NombreUsuario</td>
            <td>Kevin Guerrero</td>
        </tr>
        <tr>
            <td>Contrasena</td>
            <td>654321</td>
        </tr>
        <tr>
            <td>Rol</td>
            <td>Empleado</td>
        </tr>
    </table>
</body>
</html>